@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #f1f5f9 1px, transparent 1px),
    linear-gradient(to bottom, #f1f5f9 1px, transparent 1px);
  height: 350px;
}
